{% extends "ProyectoWebapp/base.html" %}
{% load static %}
{% block content %}
<div class="container mt-4">
  {% if messages %}
    <div class="alert alert-success text-center" role="alert">
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    </div>
  {% endif %}
  <div class="row">
    {% for producto in productos %}
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
      <div class="card h-100">
        <img src="{{ producto.imagen.url }}" class="card-img-top" alt="{{ producto.nombre }}">
        <div class="card-body text-center">
          <h6 class="card-title">{{ producto.nombre }}</h6>
          <p class="card-text">{{ producto.precio }} €</p>
        </div>
        <div class="text-center mb-3">
          <form action="{% url 'carro:agregar' producto.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Agregar al carro</button>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
