{% extends "ProyectoWebapp/base.html" %}
{% load static %}
{% block content %}

<div class="container d-flex justify-content-center mt-4">
    <div class="table-responsive" style="max-width: 60%;">
        <table class="table table-bordered text-center table-striped shadow-sm text-white">
            <thead>
                <tr>
                    <th colspan="4" class="fs-5">🛒 Resumen de tu pedido</th>
                </tr>
                <tr class="text-white" style="font-size: small;">
                    <th>Producto</th>
                    <th>Precio unidad</th>
                    <th>Cantidad</th>
                    <th>Agregar / eliminar</th>
                    
                </tr>
            </thead>
            <tbody>
                {% if request.session.carro.items %}
                    {% for k, v in request.session.carro.items %}                        
                        <tr>
                            <td>{{ v.nombre }}</td>
                            <td>{{ v.precio }}</td>
                            <td>{{ v.cantidad}}</td>
                            <td><a href="{% url 'carro:agregar' v.producto_id %}" class="btn btn-sm btn-success">+</a>
                                <a href="{% url 'carro:restar' v.producto_id %}" class="btn btn-sm btn-success">-</a>
                            </td>                      
                        </tr>
                    {% endfor %}
                {% else %}

                <tr>
                    <td colspan="4">
                        <div class="alert alert-danger m-1">Aún no has añadido nada</div>
                    </td>
                </tr>
                {% endif %}

            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        Importe total: {{ importe_total }} €
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

{% endblock %}
